<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VUE Intro</title>
    <link rel="stylesheet" href="view.css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <header class="top-menu con row">
        <div class="cell-right">
            <a href="#">로그인</a>
            <a href="#">회원가입</a>
            <a href="#">글 목록</a>
            <a href="#">글 작성</a>
        </div>
    </header>

    <h1 class="con">게시글 상세</h1>
    <section class="article-detail table-common con row">
        <table class="cell" border="1">
            <colgroup>
                <col width="100px">
            </colgroup>
            <tbody>
                <tr class="article-title">
                    <th>[번호]제목</th>
                    <td colspan="3">내용2_2</td>
                </tr>
                <tr class="article-info">
                    <th>날짜</th>
                    <td>내용3_2</td>
                    <th>조회수</th>
                    <td>내용4_2</td>
                </tr>
                <tr class="article-body">
                    <td colspan="4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt deleniti repellat
                        aliquam quis labore est error iste obcaecati laborum illo? Distinctio dolorem quis at assumenda!
                        Perferendis, libero earum! Ducimus, ratione!</td>
                </tr>
            </tbody>
        </table>
    </section>

    <div class="con reply">
        <h1 class="">댓글 입력</h1>
        <section class="reply-form">
            <form action="return false;">
                <div>
                    <input type="text">
                </div>
                <div>
                    <textarea></textarea>
                    <input type="submit">
                </div>
            </form>
        </section>

        <h1 class="">댓글 목록</h1>
        <section class="reply-list table-common">
            <table border="1">
                <colgroup>
                    <col width="100px">
                </colgroup>
                <thead>
                    <tr>
                        <th>내용1</th>
                        <th>내용2</th>
                        <th>내용3</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>내용1</td>
                        <td>내용2</td>
                        <td>내용3</td>
                    </tr>
                    <tr>
                        <td>내용1</td>
                        <td>내용2</td>
                        <td>내용3</td>
                    </tr>
                    <tr>
                        <td>내용1</td>
                        <td>내용2</td>
                        <td>내용3</td>
                    </tr>
                    <tr>
                        <td>내용1</td>
                        <td>내용2</td>
                        <td>내용3</td>
                    </tr>
                    <tr>
                        <td>내용1</td>
                        <td>내용2</td>
                        <td>내용3</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>

    <footer></footer>

</html>